@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "openSans";
  src: url("/fonts/OpenSans-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "semiBold";
  src: url("/fonts/OpenSans-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: "openSansBold";
  src: url("/fonts/OpenSans-Bold.woff2") format('woff2');
}

@font-face {
  font-family: "uniNeueLight";
  src: url("/fonts/UniNeue-Light.woff2") format('woff2');
}

@font-face {
  font-family: "uniNeueBook";
  src: url("/fonts/UniNeue-Book.woff2") format('woff2');
}

@font-face {
  font-family: "uniNeueRegular";
  src: url("/fonts/UniNeue-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "uniNeueBold";
  src: url("/fonts/UniNeue-Bold.woff2") format('woff2');
}

